@import url('https://fonts.googleapis.com/css?family=Montserrat');
#pictureContainer {
  margin:auto;
}

body {
  background-color: black;
}

#background {
 background-image: url("../img/banner.png");
 height: 150px;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 filter: blur(5px);
 margin-top: -5.5em;
}

#navig {
  font-family: Montserrat;
  text-align: center;
  font-size: 40pt;
  padding-top: 20pt;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 position: relative;
 z-index: 10;
}

#navig img {
  filter: blur(5px);
}

.crossfade {
  width: 800px;
}

.crossfade > img {
    overflow: auto;
    position: absolute;
    left: 32%;
    width: 60%;
    color: transparent;
    z-index: 0;
    margin-top: 2em;
    border-style: groove;
border-color:pink;
border-width: 25px;
}

.fruit {
  display: none;
}

.facts {
  height: 60px;
  width: 20%;
  background-color: white;
  bottom: 50px;
  left: 40%;
  border-style: groove;
  border-color:pink;
  border-width: 5px;
  text-align: center;
}

.answer {
  text-align: center;
  font-size: 15pt;
  font-family: Montserrat;
}

#animation {
  transform: translate(200%, 0);
}



 }
@media screen and (max-width: 800px) {
  .crossfade {
  width: 200px;
  }

  .crossfade img {
    width: 300px;
  }

}

@media screen and (max-width: 489px) {
  #background {
    margin-top: -9em;
    height: 150px;

  }


  .facts {
    float: left;
    width: 40%;
  }

  #container2 {
    margin-top: 80%;
    margin-left: 10%;
  }

  #navig {
padding-top: 0;
font-size: 30pt;
  }
  .crossfade {
    width: 200px;
  }

  .crossfade img {
    margin-top: 1em;
    width: 80%;
    left: 5%;
  }

  #animation {
    transform: translate(25%, 0);
  }

  #facts {
    top: 47%;
    width: 50%;
    left: 25%;
  }


  #animation img{
    margin-top: 23em;
  }
}


 }
