@import url('https://fonts.googleapis.com/css?family=Montserrat');
#pictureContainer {
  margin:auto;
}

body {
  background-color: black;
}

#background {
  background-image: url("../img/banner.png");
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  margin-top: -5.5em;
  border-style: groove;
  border-color: #AA3939;
  border-width: 5px;
}

#navig {
  font-family: Montserrat;
  text-align: center;
  font-size: 40pt;
  padding-top: 20pt;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 position: relative;
 z-index: 10;
}

#navig img {
  filter: blur(5px);
}

.crossfade {
  width: 800px;
}

.crossfade > img {
    overflow: hidden;
    position: absolute;
    left: 40%;
    width: 40%;
    color: transparent;
    opacity: 0;
    z-index: 0;
    margin-top: 8em;
    border-style: groove;
    border-color:#AA3939;
    border-width: 25px;
    animation: imageAnimation 20s linear infinite 0s;
}

.crossfade > img:nth-child(2)  {
    animation-delay: 2s;
}
.crossfade > img:nth-child(3) {
    animation-delay: 4s;
}
.crossfade > img:nth-child(4) {
    animation-delay: 6s;
}
.crossfade > img:nth-child(5) {
    animation-delay: 8s;
}

.crossfade > img:nth-child(6) {
    animation-delay: 10s;
}
.crossfade > img:nth-child(7) {
    animation-delay: 12s;
}
.crossfade > img:nth-child(8) {
    animation-delay: 14s;
}
.crossfade > img:nth-child(9) {
    animation-delay: 16s;
}
.crossfade > img:nth-child(10) {
    animation-delay: 18s;
}

@keyframes imageAnimation {
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}


.stylez {
    background-color: white;
    font-family: Montserrat;
    width: 50px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}

 #getHTML {
   margin-left: 27%;
   margin-top: 18%;
 }

 #getJSON {
   background-color: #939393;
   margin-left: 87%;
   margin-top: 18%;
 }

.fruit {
}

.meme {
  height: 45px;
  width: 20%;
  background-color: white;
  bottom: 50px;
  border-style: groove;
  border-color:#AA3939;
  border-width: 5px;
  text-align: center;
}

#facts {
  height: 100px;
  width: 60%;
  background-color: white;
  margin-left: 30%;
  margin-top: 1%;
  border-style: groove;
  border-color: #E4C5AF;
  border-width: 5px;
  text-align: center;
  position:absolute;
  font-family: Montserrat;
  font-size: 23pt;
  text-align: center;
}

#facts ul, #facts ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18pt;
}

.answer {
  text-align: center;
  font-size: 11pt;
  font-family: Montserrat;
}

#animation {
  transform: translate(200%, 0);
}


@media screen and (max-width: 900px) {
  .crossfade {
  width: 200px;
  }

  .meme {
    width: 150px;
  }

  #facts {
    margin-left: 35%;
  }

  .crossfade img {

    width: 50%;

  }

  #getHTML {
  margin-top: 60%;
  margin-left: 40%;
  }


  #getJSON {
  margin-top: 60%;
  margin-left: 80%;
  }



}

@media screen and (max-width: 489px) {
  #background {
    margin-top: -9em;
    height: 150px;

  }

  #getHTML {
    margin-top: 70%;
    margin-left: 0;
  }

  #getJSON {
    margin-top: 70%;
  }

    #facts {
      margin-top: 70%;
      margin-left: 18%;
    }
  .meme {
    float: left;
    width: 40%;
    height: 40px;
  }

  #container2 {
    margin-top: 110%;
    margin-left: 15%;
  }

  #navig {
padding-top: 0;
font-size: 30pt;
  }
  .crossfade {
    width: 200px;
  }

  .crossfade img {
    margin-top: 1em;
    width: 80%;
    left: 5%;
  }

  #animation {
    transform: translate(25%, 0);
  }


  #animation img{
    margin-top: 23em;
  }
}


 }
