@import url('https://fonts.googleapis.com/css?family=Montserrat');
#pictureContainer {
  margin:auto;
}

body {
  background-color: black;
}

#background {
 background-image: url("../img/banner.png");
 height: 150px;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 filter: blur(5px);
 margin-top: -5.5em;
}

#navig {
  font-family: Montserrat;
  text-align: center;
  font-size: 40pt;
  padding-top: 20pt;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 position: relative;
 z-index: 10;
}

#navig img {
  filter: blur(5px);
}

.crossfade {
  width: 400px;
}

.crossfade > img {
    overflow: auto;
    position: absolute;
    left: 10%;
    width: 500px;
    color: transparent;
    opacity: 0;
    z-index: 0;
    margin-top: 3em;
    animation: imageAnimation 10s linear infinite 0s;
    border-style: groove;
border-color:pink;
border-width: 25px;
}

#facts {
  height: 60px;
  width: 20%;
  background-color: white;
  position: fixed;
  bottom: 50px;
  left: 40%;
  border-style: groove;
  border-color:pink;
  border-width: 5px;
  text-align: center;
}

#answer {
  text-align: center;
  font-size: 15pt;
  font-family: Montserrat;
}

#animation {
  transform: translate(200%, 0);
}


 .crossfade > img:nth-child(2) {
   animation-delay: 2s;
 }

 .crossfade > img:nth-child(3) {
   animation-delay: 4s;
 }


 .c
 rossfade > img:nth-child(4) {
   animation-delay: 6s;
 }

 .crossfade > img:nth-child(5) {
   animation-delay: 8s;
 }
@media screen and (max-width: 800px) {
  .crossfade {
  width: 200px;
  }

  .crossfade img {
    width: 300px;
  }

}

@media screen and (max-width: 489px) {
  #background {
    margin-top: -9em;
    height: 150px;

  }

  #navig {
padding-top: 0;
font-size: 30pt;
  }
  .crossfade {
    width: 100px;
  }

  .crossfade img {
    margin-top: 1em;
  }

  #animation {
    transform: translate(25%, 0);
  }

  #facts {
    top: 47%;
    width: 50%;
    left: 25%;
  }


  #animation img{
    margin-top: 23em;
  }
}

 @keyframes imageAnimation {
   0% { opacity: 0;
   animation-timing-function: ease-in; }
   8% { opacity: 1;
        animation-timing-function: ease-out; }
   17% { opacity: 1 }
   25% { opacity: 0 }
   100% { opacity: 0 }
}
 }
